Django==5.2
djangorestframework==3.16.1
django-cors-headers==4.8.0
gunicorn==23.0.0
whitenoise==6.9.0
dj-database-url==3.0.1
psycopg2-binary==2.9.9   # only if you plan PostgreSQL, else remove
sqlparse==0.5.3
asgiref==3.8.1
Pillow==10.1.1
